{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">
		<h2 class="text-center">Page d'Administration</h2>

		<h3>Liste des chansons</h3>

		<div class="v-page-wrap has-right-sidebar has-one-sidebar">
			<div class="container">
				<div class="row">

					{% for message in app.flashes('success') %}

						<div class="alert alert-success">
							{{message}}
						</div>

					{% endfor %}

					<div class="col-sm-12">

						<table>

							<tr>
								<th>Titre</th>
								<th>Auteur</th>
								<th>Style</th>
								<th>Accords</th>
								<th>Editer</th>
								<th>Supprimer</th>
							</tr>

							{% for song in songs %}

								<tr>
									<td>
										<a href="" class="link-to-post">{{ song.name }}</a>
									</td>
									<td>{{song.author}}</td>
									<td>{{song.musicStyle}}</td>
									<td>Refrain :{{ song.chordChorus1Name}},
										{{ song.chordChorus2Name}},
										{{ song.chordChorus3Name}},
										{{ song.chordChorus4Name}}</td>
									<td>
										<a class="btn btn-primary" href="{{ path('admin.song.edit', {id: song.id}) }}" class="btn btn-default">Editer</a>
									</td>
									<td>
										<form method="post" action="{{ path('admin.song.delete', {id: song.id}) }}" style="display:inline-block" onsubmit="return confirm('Supprimer ?')">
											<input type="hidden" name="_method" value="DELETE">

											<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ song.id) }}">
											<button class="btn btn-danger">Supprimer</button>
										</form>
									</td>
								</tr>
							{% endfor %}
						</table>


					</div>

					<div class="text-center">
						<button>
							<a href="{{ path('admin.song.new') }}" class="btn btn-dark">Ajouter une chanson</a>
						</button>
					</div>

				</div>

				<hr>

				<h3>Liste des auteurs</h3>

				<div class="row">

					<div class="col-sm-12">

						{% for authors in authors %}
							<div class="col-sm-4">

								<ul>
									<li>
										{{authors.name}}
									</li>
									<li>
										<a class="btn btn-primary" href="{{ path('admin.author.edit', {id: authors.id}) }}" class="btn btn-default">Editer</a>

										<form method="post" action="{{ path('admin.author.delete', {id: authors.id}) }}" style="display:inline-block" onsubmit="return confirm('Supprimer ?')">
											<input type="hidden" name="_method" value="DELETE">
											<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ authors.id) }}">
											<button class="btn btn-danger">Supprimer</button>
										</form>
									</li>

								</ul>

							</div>

						{% endfor %}


					</div>

					<div class="text-center">
						<button>
							<a class="btn btn-dark" href="{{ path('admin.author.new') }}">Ajouter un auteur</a>
						</button>
					</div>

				</div>

				<hr>

				<h3>Liste des styles de musique</h3>

				<div class="row">

					<div class="col-sm-12">

						{% for musicStyles in musicStyles %}
							<div class="col-sm-4">

								<ul>
									<li>
										{{musicStyles.name}}
									</li>
									<li>
										<a class="btn btn-primary" href="{{ path('admin.musicStyle.edit', {id: musicStyles.id}) }}" class="btn btn-default">Editer</a>

										<form method="post" action="{{ path('admin.musicStyle.delete', {id: musicStyles.id}) }}" style="display:inline-block" onsubmit="return confirm('Supprimer ?')">
											<input type="hidden" name="_method" value="DELETE">
											<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ musicStyles.id) }}">
											<button class="btn btn-danger">Supprimer</button>
										</form>
									</li>
								</ul>

							</div>

						{% endfor %}


					</div>


					<div class="text-center">
						<button class="btn btn-warning">
							<a href="{{ path('admin.musicStyle.new') }}">Ajouter un style de musique</a>
						</button>
					</div>

					<hr>

					<h3>Liste des accords</h3>

					<div class="row">

						<div class="col-sm-12">

							{% for chords in chords %}
								<div class="col-sm-4">

									<ul>
										<li>
											{{chords.name}}
										</li>
										<li>
											<a class="btn btn-primary" href="{{ path('admin.chords.edit', {id: chords.id}) }}" class="btn btn-default">Editer</a>

											<form method="post" action="{{ path('admin.chords.delete', {id: chords.id}) }}" style="display:inline-block" onsubmit="return confirm('Supprimer ?')">
												<input type="hidden" name="_method" value="DELETE">
												<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ chords.id) }}">
												<button class="btn btn-danger">Supprimer</button>
											</form>
										</li>
									</ul>

								</div>

							{% endfor %}


						</div>


						<div class=" text-center">
							<button class="btn btn-warning">
								<a href="{{ path('admin.chords.new') }}">Ajouter un accord</a>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>

	{% endblock %}
