{% extends 'base.html.twig' %}


{% block body %}

    <div class="v-page-heading v-bg-stylish v-bg-stylish-v1">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="heading-text">
                            <h1 class="entry-title"></h1>
                        </div>

                        <ol class="breadcrumb">
                            <li><a href="/">Accueil</a></li>
                            <li class="active"><a href="{{ path('songs.index') }}">Chansons</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>




   <div class="container">

     <h2>Depuis toujours</h2>

   </div>

{% endblock %}